---
layout: default
---

{% include group-by-array collection=site.posts field="tags" %}

	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="{{ site.url }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">{{ page.title }}</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
					<article>
						<h3>{{ page.title }}</h3>
            <ul class="meta-post">
              <li><i class="icon-calendar"></i>{{ page.date | date: "%B %e, %Y" }}</li>
							{% for tag in site.categories %}
								<li><i class="icon-user"></i><a href="{{ site.url }}/categories/#{{ tag[0] | capitalize }}"> {{ tag[0] | capitalize }}</a></li>
							{% endfor %}
							{% if page.author.name %}
              	<li><i class="icon-user"></i><a href="http://{{ page.author.url }}" target="_blank">Author: {{ page.author.name }}</a></li>
							{% endif %}
            </ul>
            <br /><br />
    				{{ content }}
				  </article>
			</div>

      {% include sidebar.html %}
